<div class="container">
    <h1>Click the button below for API call</h1>

    <a class="waves-effect waves-light btn-large" id="playTime"><i class="material-icons left">cloud</i>Get PPE Total
        Play Time</a>
    <a class="waves-effect waves-light btn-large" id="apiItems"><i class="material-icons left">cloud</i>Get PPE Equipped Items</a>
    <hr>

    <h4>Total Play Time for Character: <span id="totalPlayTime"></span></h4>
    <h4>First Equipped Item: <span id="firstItem"></span></h4>

    {{!-- {{#if called}}
    <h2>Response</h2>
    <ul>
        <li>{{thing1}}</li>
    </ul>
    {{else}}
    <h3>No response yet</h3>
    {{/if}} --}}

</div>